[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-dictator
Exec=harbour-dictator
Name=Dictator
Name[de]=Diktator
Name[ru]=Диктатор
